a {
  color: #32afd2;
}

* {
  text-align: justify;
}

body {
  /* padding-left: 1cm;
  padding-right: 1cm; */
  max-width: 22cm;
  margin: auto;
  margin-top: 2cm;
  margin-bottom: 5cm;
}

h2 {
  text-align: center;
  /* margin-block-start: 0.5em; */
  margin-block-end: 0em;
}

header>div>* {
  text-align: right;
  margin: 0;
}

.quad, h1, h2, h3 {
  color: rgb(166, 108, 0);
}

ul {
  padding-left: 30px;
}

@media print {
  section {
    break-inside: avoid;
  }
  body {
    margin-top: 0;
    margin-bottom: 0;
  }
  @page {
    @bottom-right {
      content: counter(page) "/" counter(pages)
    }
  }
}
